/* hoja de estilos */

:root{
    --fuenteEncabezado: "PT Sans", sans-serif;
    --fuenteParrafos: "Open Sans", sans-serif;
    --primario: #784D3C;
    --blanco: #FFF;
    --negro: #000;
    --gris: #e1e1e1;
}


html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

.contenedor{
    width: min(90%, 120rem);
    margin: 0 auto;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4{
    font-family: var(--fuenteEncabezado);
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.8rem;
}

img{
    max-width: 100%;
}

/* estilos utilitarios para reutilizar */
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}

.centrar-texto{
    text-align: center;
}

/* estilo del header */
.header{
    background-image: url(../img/banner.jpg);
    height: 60rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.header__texto{
    text-align: center;
    color: var(--blanco);
    margin-top:5rem;
}

.logo{
    color: var(--blanco);
}

.logo__nombre{
    font-weight: 400;
}

.logo__bold{
    font-weight: 700;
}

.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
  
}

/* estilos para el blog */
.entrada{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.entrada:last-of-type{
    border: none;
    margin-bottom: 0;
}

.boton{
    display: block;
    font-family: var(--fuenteEncabezado);
    color: var(--blanco);
    text-align: center;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
}

.boton--primario{
    background-color: var(--negro);

}

@media (min-width: 768px){
    .barra{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navegacion{
        display: flex;
        gap: 2rem;
    }

    .header__texto{
        margin-top:10rem;
    }
    .contenido-principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }

    .boton {
        display: inline-block;

    }

}